$defaultImage: url(/images/logocpnv.jpg);

*{
    box-sizing: border-box;
}
p{
    margin: 0;
}
body{
    background-color: #efefef;
    text-align: center;
}
.cardsContainer{
    text-align: left;
    display: inline-block;
}
.appCard{
    background-color: white;
    box-shadow: 0 0 5px grey;
    width: 300px;
    margin: 15px;
    display: inline-block;
    -webkit-user-select: none;
    cursor: pointer;
}
.appCardImg{
    min-height: 150px;
    position: relative;
    background-image: $defaultImage;
    background-size: cover;
    background-position: center;
}
.appCardName{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    padding: 10px 20px 10px 20px;
}
.appCardName > a{
    color: black;
    text-decoration: none;
    font-size: 27px;
}

.backButton{
    cursor: pointer;
    width: 100%;
    text-align: left;
}
.downloadSection {
    text-align: right;
    padding: 5px 20px 5px 20px;
}
.downloadSection button {
    background-color: #2bd72b;
    height: 40px;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    color:white;
    text-shadow: 0 0 2pxgreen;
    font-size: 20px;
}
.downloadCount {
    display: inline-block;
    font-size: 20px;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
.appCardDesc{
    padding: 10px;
    width: 100%;
    border-top: 1px solid #ccc;
}
.appImg{
    background-image: $defaultImage;
}
.appName > a {
    text-decoration: none;
    font-size: 30px;
}
.appContainer {
    text-align: left;
    width: 100%;
    max-width: 700px;
    display: inline-block;
    box-shadow: 0 0 5px black;
    padding: 20px;
    min-height: 600px;

}
